<footer class="w-100 border-top shadow-sm" style="background-color: #E1AE47;">
    <div class="py-2 py-md-2 d-flex flex-column align-items-center gap-2">

        <img src="javier-marca.png"
             alt="Javier Lara Solis"
             class="opacity-75 hover-opacity"
             style="height: 36px; padding-top: 10px" />

        <div class="text-center">
            <p class="small text-muted mb-0 py-1">
                © @DateTime.Now.Year • All Rights Reserved • Versión 1.0.0
            </p>
        </div>

    </div>
</footer>


@code {

}
