@using Microsoft.AspNetCore.Components.Authorization

<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

        <!-- LOGO -->
        <NavLink href="/" class="logo">
            <img src="assets/img/logo.png" alt="Briz" class="img-fluid" />
        </NavLink>

        <!-- NAV -->
        <nav id="navbar" class="navbar">
            <ul>

               

                <AuthorizeView Context="auth">
                    <NotAuthorized>
                        <!-- INICIO -->

                        <li>
                            <NavLink href="/" class="nav-link" ActiveClass="active">
                                Inicio
                            </NavLink>
                        </li>
                    </NotAuthorized>
                    <Authorized>

                        <!-- BIENVENIDA -->
                        <li class="welcome">
                            Hola, @auth.User.Identity.Name
                        </li>

                        @* ================= ADMIN ================= *@
                        @if (auth.User.IsInRole("0"))
                        {
                            <li class="nav-divider"></li>

                            <li>
                                <NavLink href="usuarios" class="nav-link" ActiveClass="active">
                                    Usuarios
                                </NavLink>
                            </li>

                            <li>
                                <NavLink href="accesorios" class="nav-link" ActiveClass="active">
                                    Accesorios
                                </NavLink>
                            </li>

                            <li>
                                <NavLink href="pedidos" class="nav-link" ActiveClass="active">
                                    Pedidos
                                </NavLink>
                            </li>

                            <li>
                                <NavLink href="reportes" class="nav-link" ActiveClass="active">
                                    Reportes
                                </NavLink>
                            </li>
                        }

                        @* ================= CLIENTE ================= *@
                        @if (auth.User.IsInRole("1"))
                        {
                            <li class="nav-divider"></li>

                            <li>
                                <NavLink href="bicicleta-personalizada"
                                         class="nav-link nav-client nav-cta"
                                         ActiveClass="active">
                                    <i class="fas fa-bicycle"></i>
                                    Personalizar
                                </NavLink>
                            </li>

                            <li>
                                <NavLink href="MonitoreoPedidos"
                                         class="nav-link nav-client"
                                         ActiveClass="active">
                                    <i class="fas fa-box"></i>
                                    Mis pedidos
                                </NavLink>
                            </li>

                            <li>
                                <NavLink href="miPerfil"
                                         class="nav-link nav-client"
                                         ActiveClass="active">
                                    <i class="fas fa-user"></i>
                                    Mi perfil
                                </NavLink>
                            </li>
                        }

                        <!-- SALIR -->
                        <li class="nav-divider"></li>

                        <li>
                            <NavLink href="salir" class="getstarted">
                                Salir
                            </NavLink>
                        </li>

                    </Authorized>

                    <NotAuthorized>

                        <li>
                            <NavLink href="Acceder" class="nav-link" ActiveClass="active">
                                Acceder
                            </NavLink>
                        </li>

                        <li>
                            <NavLink href="registro" class="nav-link" ActiveClass="active">
                                Registrarse
                            </NavLink>
                        </li>

                    </NotAuthorized>
                </AuthorizeView>

            </ul>

            <!-- MOBILE -->
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

    </div>
</header>


@code {

}
